@import url(./home/landing.css);
@import url(./home/about.css);
@import url(./pages/categories.css);

* {
	color: #333;

	padding: 0;
	margin: 0;

	font-family: "Ubuntu", sans-serif;
}

body {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}
